@use "../abstracts" as *;

.btn-main {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  color: $highlight-color;
  span {
    transition: all 0.5s ease;
    padding-left: 0.5rem;
  }
}

.btn-main:hover {
  span {
    padding-left: 1rem;
  }
}

#btn-schedule {
  mix-blend-mode: normal;
  background-image: url("/svg/button-shorter.svg");
  width: 215px;
  color: $dominant-color;
  padding: 0.75rem;
  text-align: center;
}

#btn-expand {
  cursor: pointer;
  z-index: 1000;
  display: flex;
  background-color: transparent;
  border: none;
  @media only screen and (min-width: 1200px) {
    display: none;
  }
}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/svg/button-light.svg");
  width: 334px;
  padding: 0.25rem;
  color: $dominant-color;
  text-align: center;
}

.card-book {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: transparent;
}

.card-book:hover {
  span {
    transition: all 0.5s ease;
    padding-right: 1rem;
  }
}
