@use "../abstracts" as *;

.btn-main {
  display: flex;
  align-items: center;
  color: $highlight-color;
  span {
    padding-left: 0.5rem;
  }
}

#btn-schedule {
  background-color: $dominant-color;
  color: $paper-color;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

#btn-expand {
  border-color: transparent;
  background-color: transparent;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.btn-more {
  background-color: $highlight-color;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: $paper-color;
}
