@use "../abstracts" as *;

.book-form {
  background-color: #000000cc;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .book-container {
    background-color: $surface-color;
    z-index: 100;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    form {
      height: 50vh;
      width: 50vw;
      label {
        display: block;
      }
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
