@use "../abstracts/colors.scss" as *;

.gradient {
  height: 150px;
  background: linear-gradient(#00000000 0%, $secondary-color 100%);
}

.gradient-inverse {
  height: 150px;
  background: linear-gradient($secondary-color 0%, #00000000 100%);
}

.half-gradient {
  height: 150px;
  background: linear-gradient($secondary-color 20%, #00000000 100%);
}

.secondary-background {
  background-color: $secondary-color;
}
