@use "../abstracts" as *;

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.navbar {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    li {
      list-style: none;
      a {
        color: $paper-color;
        position: relative;
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
        &:before,
        &:after {
          content: "";
          position: absolute;
          transition: transform 0.3s ease;
        }
        &:before {
          left: -1px;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $paper-color;
          transform: translateX(-100%);
        }
        &:hover:before {
          transform: translateX(0);
        }
      }
    }
  }
}

.burger-menu {
  background-color: $paper-color;
  .navbar li a {
    color: $dominant-color;
  }
  height: 40%;
  position: fixed;
}

.navbar-list {
  display: none;
  @media only screen and (min-width: 1200px) {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
  }
}

.burger-list {
  & li {
    padding: 1rem;
    text-align: center;
    a {
      color: $dominant-color;
    }
  }
  display: flex;
  flex-wrap: wrap;
  margin-block: 5vh;
  flex-grow: 1;
  width: 91%;
  height: fit-content;
  flex-direction: column;
  gap: 0.5rem;
  align-content: center;
  text-align: center;
  position: absolute;
}

.footer-links {
  padding: 0;
  position: inherit;
  background-color: inherit;
  display: flex;
  flex-flow: column;
  align-items: start;
  li {
    padding-block: 1rem;
    list-style: none;
    a {
      color: $paper-color;
      text-decoration: none;
    }
  }
  @media only screen and (min-width: 1200px) {
    align-items: start;
    padding: 0;
  }
}
