@use "../abstracts" as *;

nav {
  position: fixed;
  width: 100%;
  mix-blend-mode: difference;
  top: 0;
  z-index: 100;
}

.navbar {
  padding-block: 0.75rem;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      a {
        color: $paper-color;
        text-decoration: none;
      }
    }
  }
}

.navbar-list {
  cursor: grab;
  display: none;
  @media only screen and (min-width: 1200px) {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-links {
  padding: 0;
  position: inherit;
  background-color: inherit;
  display: flex;
  flex-flow: column;
  align-items: start;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $dominant-color;
    }
  }
  @media only screen and (min-width: 1200px) {
    align-items: end;
    padding: 0;
  }
}
