@use "../abstracts" as *;

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  padding-inline: 0;
  padding-block: 0.75rem;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $dominant-color;
      }
    }
  }
}

.navbar-list {
  cursor: grab;
  background-color: transparent;
  border-color: transparent;
  display: none;
  @media only screen and (min-width: 768px) {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-links {
  background-color: inherit;
  display: flex;
  flex-flow: column;
  align-items: start;
  padding: 2rem 0;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $dominant-color;
    }
  }
  @media only screen and (min-width: 1200px) {
    align-items: end;
    padding: 0;
  }
}
