.slider-container {
  overflow: hidden;
  margin-bottom: 1.75rem;
}

.slider {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.hero-images {
  width: 100%;
  height: 45vh;
  flex-shrink: 0;
  @media only screen and (min-width: 600px) {
    height: 40vh;
  }
}

.hero-paragraph {
  padding: 0;
}

.gallery-carousel {
  cursor: grab;
  display: flex;
  overflow-x: hidden;
  gap: 3rem;
  @media only screen and (min-width: 1200px) {
    img {
      width: 20%;
      height: 70vh;
    }
  }
}
