@use "../abstracts" as *;

.slider-container {
  overflow: hidden;
  display: flex;
  align-items: end;
}

.slider-container--short {
  height: 50vh;
  .slider img {
    object-position: top;
  }
}

.slider {
  display: flex;
  transition: transform 1.5s ease-in-out;
  z-index: -100;
}

.hero-images {
  width: 100vw;
  height: 78vh;
  flex-shrink: 0;
}

.hero-paragraph {
  padding: 0;
}

.gallery-carousel {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 3rem;
  cursor: grab;
  display: flex;
  overflow-x: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & img {
    margin-inline: 1.5rem;
    max-width: 95vw;
    height: 76vh;
  }

  @media only screen and (min-width: 1200px) {
    & img {
      width: 25%;
      max-height: 70vh;
    }
  }
}

.gallery-carousel:active > * {
  transform: rotate(2deg);
}

.indicator {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  :first-child {
    animation-name: indicate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
  }
}

@keyframes indicate {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
