.padded {
  padding-inline: 1.375rem;
  @media only screen and (min-width: 768px) {
    padding-inline: 2.375rem;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-bottom {
  margin-top: auto;
}

.header-grid {
  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 50% 20% auto;
  }

  p {
    grid-column-start: 3;
  }
}

.grid-2-col {
  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.wide-gap {
  @media only screen and (min-width: 1200px) {
    gap: 18rem;
  }
}

.grid-3-col {
  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10rem;
  }
}

.grid-4-col {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 3rem;
  }
}

.center-title {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .reverse-order {
    display: flex;
    flex-flow: column-reverse;
  }
}

.more-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
