@use "../abstracts" as *;

body {
  background-color: $background-color;
  margin: 0 auto;
}

section {
  overflow: hidden;
  padding-inline: 1.375rem;
  @media only screen and (min-width: 768px) {
    padding-inline: 2.375rem;
  }
}

.footer,
nav {
  padding-inline: 1.375rem;
  @media only screen and (min-width: 768px) {
    padding-inline: 2.375rem;
  }
}

hr {
  margin-inline: 1.375rem;
  @media only screen and (min-width: 768px) {
    margin-inline: 2.375rem;
  }
}
