@use "../abstracts" as *;

body {
  background-color: $background-color;
  margin: 0 auto;
  padding-inline: 1.375rem;
  @media only screen and (min-width: 600px) {
    padding-inline: 2.375rem;
  }
}

section {
  padding-block: 1.5rem;
}
