$paper-color: #dcd9cf;
$sand-color: #c5b8a5;
$dominant-color: #1e1e1e;
$highlight-color: #bd996a;
$compliment-color: #626262;
$faded-color: #d9d9d9;
$surface-color: #eeece7;

$secondary-color: #ffeecf;
$secondary-faded-color: #f1e8d8;

body {
  background-color: $paper-color;
}

h1,
h2 {
  color: $dominant-color;
}

p,
h4 {
  color: $compliment-color;
}

blockquote {
  color: $compliment-color;
}

cite {
  color: $dominant-color;
}

.sub-cite {
  color: $compliment-color;
}

.mini-hr {
  color: $faded-color;
}

.black-background {
  h2,
  h3 {
    color: $highlight-color;
  }
  & p {
    color: $paper-color;
  }
  background-color: $dominant-color;
}

.sand-background {
  background-color: $sand-color;
}

.retreat-card {
  background-color: $surface-color;

  & p {
    color: $dominant-color;
  }
}
