@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,500;1,400;1,600&display=swap");

$font-montserrat: "Montserrat", sans-serif;
$font-abeezee: "ABeeZee", sans-serif;

h1 {
  display: flex;
  font-family: $font-montserrat;
  font-weight: 500;
  font-size: 3rem;
  line-height: auto;
  padding-top: 1.4375rem;
  @media only screen and (min-width: 700px) {
    font-size: 4rem;
  }
}

p {
  font-family: $font-abeezee;
  text-align: justify;
  padding-top: 1.4375rem;
  line-height: 175%;
}

a {
  font-family: $font-montserrat;
  font-weight: 500;
  text-decoration: none;
}
