@use "../abstracts/colors.scss" as *;

footer {
  padding-bottom: 3rem;
}

.social-list {
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}
