.gradient {
  height: 150px;
  background: linear-gradient(#00000000 0%, #fae7c6 100%);
}

footer {
  background-color: #fae7c6;
  padding-bottom: 3rem;
}

.social-list {
  padding-block: 1rem;
  ul {
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}
